<!--<div *ngIf="state" id="ngdialog1" class="ngdialog ngdialog-theme-default ng-scope" role="alertdialog"   [hidden]="hidden">-->
  <!--<div class="ngdialog-overlay" (click)="click_outside();"></div>-->
  <!--<div class="ngdialog-content" role="document">-->
    <!--<mat-card>-->
      <!--<mat-card-title>{{state.title}}</mat-card-title>-->
      <!--<mat-card-content>-->
        <!--<p>{{state.content}}</p>-->
        <!--<mat-card-actions>-->
          <!--<button mat-raised-button *ngIf="state.cancelEvn" type="button" (click)="clickCancel();">取消</button>-->
          <!--<button mat-raised-button *ngIf="state.confirmEvn" (click)="clickConfirm();">确定</button>-->
          <!--<button mat-raised-button *ngFor="let btn of state.buttons" (click)="btn.handle()">{{btn.name}}</button>-->
        <!--</mat-card-actions>-->
      <!--</mat-card-content>-->
    <!--</mat-card>-->
    <!--<div *ngIf="state.closeEvn" class="ngdialog-close" (click)="close();"></div>-->
  <!--</div>-->
<!--</div>-->
