  a {
    text-decoration: none;
    border: 3px solid #fafafa;
  }

  p {
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;clear:both;
  }

  .nomsg{
    font-size: large;
    color:darkgray;
    padding-top: 30%;
    text-align: center;
  }
